!!! 5
%html
  %head
    %title Simple monitoring index page
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}
    %link{:rel => 'stylesheet', :href => '/style.css', :type => 'text/css', :media => 'screen, projection'}

  %body
    %h1 Index page for app
  