!!! 5
%html
  %head
    %title Simple monitoring index page
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}
    = stylesheet 'http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css'
    = stylesheet '/style.css'

  %body
    .container
      .content
        = yield